/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.disabled {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

.cover-container {
  max-width: 42em;
  background-color:#00356E;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

#brett-title {
  font-family: 'FrenchScript', 'Trattatello', serif;
  font-size: 5em;
  color:#e5e5e5;
}

#brett-subtitle {
  font-family: 'Trattatello', 'FrenchScript', 'Arial', serif;
  font-size: 2em;
  font-weight: 500;
  color:#e5e5e5;
}

.brett-lead {
  font-family: 'FrenchScript', 'Trattatello', serif;
  font-size: 4em;
  font-weight: 400;
  line-height: 1.0;
  color:#e5e5e5;
}

#brett-date {
  font-size: 0.8em !important;
}

#brett-logo {
  max-width: 32em;
}

#brett-warning {
  display: none;
}

/*@font-face {
  font-family: 'Gomarice';
  src: url('assets/gomarice_sanbon_line.ttf');
}

@font-face {
  font-family: 'Marvelos';
  src: url('assets/Marvelos.ttf');
}*/

@font-face {
  font-family: 'FrenchScript';
  src: url('assets/FrenchScriptMT.ttf');
}
